:root{
    /*第一組*/
    --color101: #DFF2EB;
    --color102: #B9E5E8;
    --color103: #7AB2D3;
    --color104: #4A628A;
    /*第二組*/
    --color201: #F3F3E0;
    --color202: #133E87;
    --color203: #608BC1;
    --color204: #CBDCEB;
}